<header class="header-container">
  <div class="logo-section">
    <img src="images/Uerj_RGB_WEB_cor.svg" alt="UERJ Logo" class="logo">

    <div class="brand-text">
        <h1 class="university-name">UERJ</h1>
        <span class="system-name">Aluno Online</span>
    </div>
  </div>

  <div class="actions-section">
    <div class="search-wrapper">
      <span class="search-icon"><i class="fas fa-search"></i></span>
      <input type="text" placeholder="Buscar no sistema...">
    </div>

    <div class="user-controls">
      <div class="notification-badge">
        <span><i class="fa-regular fa-bell"></i></span>
        <span class="counter">3</span>
      </div>
      
      <div class="divider"></div>

      <app-aluno></app-aluno>
    </div>
  </div>
</header>