<aside class="sidebar" [class.active]="isOpen">
  <nav class="nav-menu">
    <div class="menu-section">
      <small>ACADÊMICO</small>
      <ul>
        <a routerLink="/home/dashboard" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'dashboard'">
            <span><i class="fa-solid fa-chart-line"></i></span> Dashboard
          </li>
        </a>
        <a routerLink="/home/disciplinas-curso" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'disciplinas-curso'">
            <span><i class="fa-solid fa-book"></i></span> Disciplinas do Curso
          </li>
        </a>
        <a routerLink="/home/disciplinas-realizadas" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'disciplinas-realizadas'">
            <span><i class="fa-solid fa-check-circle"></i></span> Disciplinas Realizadas
          </li>
        </a>
        <a routerLink="/home/historico" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'historico'">
            <span><i class="fa-solid fa-clipboard-list"></i></span> Histórico Escolar
          </li>
        </a>
        <a routerLink="/home/grade-horaria" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'grade-horaria'">
            <span><i class="fa-solid fa-calendar-days"></i></span> Grade Horária
          </li>
        </a>
        <a routerLink="/home/my-cronograma" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'monte seu cronograma'">
            <span><i class="fa-solid fa-calendar-plus"></i></span> Monte seu Cronograma
          </li>
        </a>
        
      </ul>
    </div>

    <div class="menu-section">
      <small>DOCUMENTOS</small>
      <ul>
        <li><span><i class="fa-solid fa-file"></i></span> Declaração de Matrícula</li>
        <li><span><i class="fa-solid fa-graduation-cap"></i></span> Diploma Digital</li>
      </ul>
    </div>
  </nav>

  <footer class="sidebar-footer">
    <button class="help-btn"><span><i class="fa-regular fa-circle-question"></i></span> Ajuda / Suporte</button>
  </footer>
</aside>

<div class="sidebar-overlay" [class.show]="isOpen" (click)="fechar()"></div>