<aside class="sidebar" [class.active]="isOpen">
  <nav class="nav-menu">
    <div class="menu-section">
      <small>ACADÊMICO</small>
      <ul>
        <a routerLink="/home/dashboard" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'dashboard'">
            <span><i class="fa-solid fa-chart-line"></i></span> Dashboard
          </li>
        </a>
        <a routerLink="/home/meta-academica" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'meta-academica'">
            <span><i class="fa-solid fa-ranking-star"></i></span> Meta Acadêmica
          </li>
        </a>
        <a routerLink="/home/disciplinas-curso" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'disciplinas-curso'">
            <span><i class="fa-solid fa-book"></i></span> Disciplinas do Curso
          </li>
        </a>
        <a routerLink="/home/estatisticas" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'estatisticas'">
            <span><i class="fa-solid fa-chart-pie"></i></span> Suas estatísticas
          </li>
        </a>
        <a routerLink="/home/fluxograma" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'fluxograma'">
            <span><i class="fa-solid fa-clipboard-list"></i></span> Histórico Escolar
          </li>
        </a>
        <a routerLink="/home/cronogramas" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'cronogramas'">
            <span><i class="fa-solid fa-calendar-days"></i></span> Cronogramas
          </li>
        </a>
        <a routerLink="/home/my-cronograma" routerLinkActive="active" (click)="fechar()">
          <li [class.active]="aba_aberta == 'monte seu cronograma'">
            <span><i class="fa-solid fa-calendar-plus"></i></span> Monte seu Cronograma
          </li>
        </a>
        
      </ul>
    </div>
  </nav>

  <footer class="sidebar-footer">
    <button class="help-btn"><span><i class="fa-regular fa-circle-question"></i></span> Ajuda / Suporte</button>
  </footer>
</aside>

<div class="sidebar-overlay" [class.show]="isOpen" (click)="fechar()"></div>